@import "style.css"; 

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  width: calc(100vw - 10%);
  margin-left: 5%;
  box-sizing: border-box;
}

#homeText{
  font-size: 32px; 
}

#showText{
  font-size: 28px;
  margin-left: 20%;
}

#poster {
  max-width: 60%;
  height: auto;
}

/* tablet */
@media only screen and (max-width : 780px) {
  .content{
    height: calc(100vh - 120px);
    width: calc(100vw - 20%);
    margin-left: 10%;
  }

  #homeText{
    font-size: 22px; 
  }
  
  #showText{
    font-size: 16px; 
  }

}


/* mobile */
@media only screen and (max-width : 480px) {
  .content{
    height: calc(100vh - 120px);
    width: calc(100vw - 30%);
    margin-left: 15%;
  }

  #homeText{
    font-size: 24px; 
  }
  
  #showText{
    font-size: 18px; 
  }

}
