*{
  margin: 0;
}

body{
  font-family: 'Inconsolata';
}

.borderTop{
  display: flex;
  background: #000;
  width: 100%;
  height: 60px;
}

.logo{
  display:flex;
  align-items: center;
  margin: auto;
}

.borderLeft{
  position: absolute;
  background: #000;
  width: 5%;
  height: calc(100vh - 120px);
}

.borderRight{
  position: absolute;
  background: #000;
  right:0px;
  width: 5%;
  height: calc(100vh - 120px);
}

.borderBottom{
  display: flex;
  bottom: 0;
  background: #000;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-content: center;
}

.bottomNavButton{
  background: none;
  border: none;
  padding: 0!;
  color: #fff;
  font-size: 26px;
  font-family: 'Inconsolata';
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.bottomNavButton:hover{
  text-decoration: underline;
}




